Flask
Flask-SocketIO
Werkzeug
requests
feedparser
numpy
opencv-python-headless
Pillow
ollama
gTTS
pysocks
stem
ujson
rasterio
ultralytics
chromadb
phonenumbers
twilio
SpeechRecognition
pydub
pandas
pyotp
qrcode
matplotlib
requests-oauthlib
beautifulsoup4
websockets
duckduckgo-search
sentence-transformers
python-dotenv
